*{
    margin :0;
    padding : 0;
    text-align: center;

}
.butt {
  background-color: blue;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 1rem ;
  transition: 0.3s;
}

.butt:hover {
  background-color: darkblue;
  transform: scale(1.05);
}


h1{
    background-color: cyan;
    color : white;
    height : 5rem;
    line-height: 4rem
}
.choice{
    height: 165px;
    width:165px;
    border-radius : 50%;
    display:  flex;
    justify-content : center;
    align-items: center;
}
.choice:hover{
    transform: scale(1.1);
    cursor:pointer

}
img{
    height: 150px;
    width:150px;
    object-fit: cover;
    border-radius : 50%
}
.choices{
    display:flex;
    justify-content : center;
    align-items: center;
    gap : 5rem;
    margin-top : 5rem;
}
.score-board{
    display : flex;
    justify-content: center;
    align-items: center;
    font-size : 2rem;
    margin-top : 3rem;
    gap : 5rem;

}
#user-score,
#comp-score {
    font-size :4rem;
}
 .msg-container{
    margin-top :  3rem;
 }
#msg{

    background-Color : black;
    color : white;
    font-size : 2rem;
    display: inline;
    padding : 1rem;
    border-radius : 1rem;
}